In [19]:
import pandas as pd
import numpy as np
import re
from pandas_profiling import ProfileReport

* Carregar os dados

In [5]:
df_pe_qfr = pd.read_csv('AMF_PE-QFR_FLUXNET_FULLSET_2018-2019_3-5/AMF_PE-QFR_FLUXNET_FULLSET_HH_2018-2019_3-5.csv', sep=',')
display(df_pe_qfr)

,TIMESTAMP_START,TIMESTAMP_END,TA_F_MDS,TA_F_MDS_QC,TA_ERA,TA_F,TA_F_QC,SW_IN_POT,SW_IN_F_MDS,SW_IN_F_MDS_QC,...,GPP_DT_VUT_SE,GPP_DT_VUT_05,GPP_DT_VUT_16,GPP_DT_VUT_25,GPP_DT_VUT_50,GPP_DT_VUT_75,GPP_DT_VUT_84,GPP_DT_VUT_95,RECO_SR,RECO_SR_N
0,201801010000,201801010030,24.196,1,24.712,24.196,1,0.0,0.000,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9999,-9999
1,201801010030,201801010100,24.195,1,24.285,24.195,1,0.0,0.000,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9999,-9999
2,201801010100,201801010130,23.180,0,23.858,23.180,0,0.0,0.082,0,...,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386,-9999,-9999
3,201801010130,201801010200,22.739,0,23.712,22.739,0,0.0,0.082,0,...,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386,-9999,-9999
4,201801010200,201801010230,22.537,0,23.567,22.537,0,0.0,0.085,0,...,0.000389,0.009320,0.013139,0.014088,0.014850,0.016951,0.017625,0.018022,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,201912312130,201912312200,26.272,0,26.341,26.272,0,0.0,0.059,0,...,0.000229,0.005254,0.005360,0.005878,0.006587,0.008211,0.008285,0.009994,-9999,-9999
35036,201912312200,201912312230,25.482,0,26.369,25.482,0,0.0,0.057,0,...,0.000222,0.005076,0.005178,0.005678,0.006364,0.007933,0.008004,0.009656,-9999,-9999
35037,201912312230,201912312300,25.168,0,26.093,25.168,0,0.0,0.055,0,...,0.000214,0.004898,0.004996,0.005479,0.006140,0.007655,0.007723,0.009317,-9999,-9999
35038,201912312300,201912312330,24.900,0,25.818,24.900,0,0.0,0.062,0,...,0.000241,0.005521,0.005632,0.006176,0.006922,0.008629,0.008706,0.010502,-9999,-9999
35039,201912312330,202001010000,24.660,0,25.593,24.660,0,0.0,0.084,0,...,0.000327,0.007480,0.007630,0.008368,0.009378,0.011690,0.011795,0.014228,-9999,-9999

* O Ameriflux atribui o valor -9999 para valores nulos
* Portanto, é necessário converter o valor -9999 para nulo novamente para podermos realizar a análise

In [6]:
df_pe_qfr.replace(-9999, pd.NA, inplace=True)

* Analisa os dados utlizando o pandas profiling

In [7]:
# Analisa os dados utlizando o pandas profiling
report = ProfileReport(df_pe_qfr,  minimal=True, title='Torre Amazônia Peruana')

In [8]:
# Salva o arquivo html com as análises realizadas pelo pandas profiling
report.to_file("EDA/torre_amazonia_peruana.html")

Summarize dataset: 100%|██████████| 153/153 [00:04<00:00, 36.74it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:46<00:00, 46.82s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.90s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 100.28it/s]

In [9]:
# Identifica colunas com 100% de valores nulos
colunas_nulas = df_pe_qfr.columns[df_pe_qfr.isnull().all()]

# Exibe o nome das colunas com 100% de valores nulos
print("Colunas com 100% de valores nulos:")
for coluna in colunas_nulas:
    print(coluna)

# Remove as colunas com 100% de valores nulos do DataFrame
df_pe_qfr = df_pe_qfr.drop(columns=colunas_nulas)

Colunas com 100% de valores nulos:
LW_IN_F_MDS
LW_IN_F_MDS_QC
P
G_F_MDS
G_F_MDS_QC
LE_CORR
LE_CORR_25
LE_CORR_75
LE_CORR_JOINTUNC
H_CORR
H_CORR_25
H_CORR_75
H_CORR_JOINTUNC
EBC_CF_N
EBC_CF_METHOD
RECO_NT_VUT_USTAR50
GPP_NT_VUT_USTAR50
RECO_SR
RECO_SR_N

In [15]:
display(df_pe_qfr.head())

,TIMESTAMP_START,TIMESTAMP_END,TA_F_MDS,TA_ERA,TA_F,SW_IN_POT,SW_IN_F_MDS,SW_IN_ERA,SW_IN_F,LW_IN_ERA,...,GPP_DT_VUT_USTAR50,GPP_DT_VUT_MEAN,GPP_DT_VUT_SE,GPP_DT_VUT_05,GPP_DT_VUT_16,GPP_DT_VUT_25,GPP_DT_VUT_50,GPP_DT_VUT_75,GPP_DT_VUT_84,GPP_DT_VUT_95
0,201801010000,201801010030,24.196,24.712,24.196,0.0,0.000,0.0,0.000,411.887,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,201801010030,201801010100,24.195,24.285,24.195,0.0,0.000,0.0,0.000,411.887,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,201801010100,201801010130,23.180,23.858,23.180,0.0,0.082,0.0,0.082,415.333,...,0.016353,0.014735,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386
3,201801010130,201801010200,22.739,23.712,22.739,0.0,0.082,0.0,0.082,415.333,...,0.016353,0.014735,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386
4,201801010200,201801010230,22.537,23.567,22.537,0.0,0.085,0.0,0.085,411.126,...,0.016951,0.015274,0.000389,0.009320,0.013139,0.014088,0.014850,0.016951,0.017625,0.018022

* As variáveis com _QC no nome representam a qualidade do preenchimento realizado nas lacunas existentes no código. Essa variáveis com _QC são do tipo inteiro e o intervalo delas é de 0-3 (0, 1, 2, 3) sendo que 0 representa o preenchimento com qualidade melhor e 3 representa o preenchimento com qualidade pior.

* Vamos retirar essas variáveis da análise

In [13]:
# Filtra as colunas que contêm "_QC" no nome
colunas_a_remover = [coluna for coluna in df_pe_qfr.columns if '_QC' in coluna]

# Remove as colunas que contêm "_QC" no nome do DataFrame
df_pe_qfr = df_pe_qfr.drop(columns=colunas_a_remover)

In [16]:
display(df_pe_qfr.head())

,TIMESTAMP_START,TIMESTAMP_END,TA_F_MDS,TA_ERA,TA_F,SW_IN_POT,SW_IN_F_MDS,SW_IN_ERA,SW_IN_F,LW_IN_ERA,...,GPP_DT_VUT_USTAR50,GPP_DT_VUT_MEAN,GPP_DT_VUT_SE,GPP_DT_VUT_05,GPP_DT_VUT_16,GPP_DT_VUT_25,GPP_DT_VUT_50,GPP_DT_VUT_75,GPP_DT_VUT_84,GPP_DT_VUT_95
0,201801010000,201801010030,24.196,24.712,24.196,0.0,0.000,0.0,0.000,411.887,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,201801010030,201801010100,24.195,24.285,24.195,0.0,0.000,0.0,0.000,411.887,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,201801010100,201801010130,23.180,23.858,23.180,0.0,0.082,0.0,0.082,415.333,...,0.016353,0.014735,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386
3,201801010130,201801010200,22.739,23.712,22.739,0.0,0.082,0.0,0.082,415.333,...,0.016353,0.014735,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386
4,201801010200,201801010230,22.537,23.567,22.537,0.0,0.085,0.0,0.085,411.126,...,0.016951,0.015274,0.000389,0.009320,0.013139,0.014088,0.014850,0.016951,0.017625,0.018022

* Existem variáveis que mostram o percentil dos valores (Ex: RECO_NT_VUT_25). Vamos retirar essas variáveis do dataset

In [27]:
# Sufixos a serem removidos
sufixos_a_remover = ['_05', '_16', '_25', '_50', '_75', '_84', '_95']

# Filtra e remove as colunas com os sufixos especificados
colunas_a_remover = [coluna for coluna in df_pe_qfr.columns if any(sufixo in coluna for sufixo in sufixos_a_remover)]
df_pe_qfr = df_pe_qfr.drop(columns=colunas_a_remover)

* Existem variáveis que informam sobre a incerteza aleatório bem como o número de amostras e o método usado para calcular esta incerteza (Ex: H_RANDUNC, H_RANDUNC_N, H_RANDUNC_METHOD).

* Inicialmente, não vamos trabalhar com estas variáveis

In [32]:
# Filtra e remove as colunas com "_RANDUNC" em qualquer parte do nome
colunas_a_remover = [coluna for coluna in df_pe_qfr.columns if '_RANDUNC' in coluna]
df_pe_qfr = df_pe_qfr.drop(columns=colunas_a_remover)

* Varíaveis com _REF_JOINTUNC (Ex: NEE_VUT_REF_JOINTUNC) representa a incerteza conjunta combinada de vários limites USTAR e incerteza aleatória

* Não vamos utilizá-las

In [35]:
# Filtra as colunas que contêm "_JOINTUNC" no nome
colunas_a_remover = [coluna for coluna in df_pe_qfr.columns if '_JOINTUNC' in coluna]

# Remove as colunas que contêm "_JOINTUNC" no nome do DataFrame
df_pe_qfr = df_pe_qfr.drop(columns=colunas_a_remover)

* Analisar os dados novamente

In [36]:
# Analisa os dados utlizando o pandas profiling
report = ProfileReport(df_pe_qfr,  minimal=True, title='Torre Amazônia Peruana')

In [37]:
# Salva o arquivo html com as análises realizadas pelo pandas profiling
report.to_file("EDA/torre_amazonia_peruana.html")

Summarize dataset: 100%|██████████| 59/59 [00:01<00:00, 33.44it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:20<00:00, 20.49s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.26s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 214.43it/s]